nav{
    display: flex;
    align-items: center;
    background-color: #252525;
}
nav section{
    padding-left: 10vw;
}
nav ul{
    display: flex;
    list-style-type: none;

}
nav ul li{
}
nav a{
    text-decoration: none;
}
li ul{
    display: none;
}