header{
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 98vw;
}
header h1{
  text-align: center;
  font-family: 'Lobster Two', sans-serif;
  color: white; 
}

area {
  transition: transform 0.2s ease;
}

area:hover {
  transform: scale(1.2);
}


main{
  color: black;
}