body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin: 50px 50px 50px 50px;
  background: linear-gradient(#063306 0%, #090979 35%, #00d4ff 100%);
}

section {
  width: auto;
  margin: auto;
  padding: 50px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-sizing: border-box;
}

form {
  margin-bottom: 10px;
}

label {
  display: inline-flexbox;
  transform: translateZ(180px);
  text-align: center;
  display: flex;
  
  align-items: center;
}

.inputt {
  background: transparent;
  outline: none;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  transition: transform 80ms ease-in;
}

.button:active {
  transform: scale(0.95);
}

.button:focus {
  outline: none;
}

.button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}


input:checkbox {
  margin-right: 10px;
}

a {
  color: #009dff;
}

.forget {
  position: absolute;
  padding-left: 50px;
}

.fa {
  display: inline-flex;
  padding-left: 50px;
  font-size: 20px;
}

p {
  text-align: center;
}
