body {
  display: flex;
  background-image: url(/images/signin\ img.png);
  background-size: cover;
  margin: 50px 50px 50px 50px;
}

section {
  width: 400px;
  margin: auto;
  padding: 50px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-sizing: border-box;
}

form {
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
  display: grid;
}

.inputt {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  width: 310px;
  cursor: pointer;
}

input:checkbox {
  margin-right: 10px;
}

a {
  color: #009dff;
}
.forget {
  position: absolute;
  right: 550px;
}

.fa {
  display: flex;
  margin-right: 10%;
  padding-left: 50px;
  font-size: 20px;
}
p {
  text-align: center;
}
