body {
    font-family: nunito;
  }
  .navigation {
    align-items: center;
    background-color: var(--primary);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 40px;
    opacity: 80%;
    position: relative;
    top: 50px;
    z-index: 1;
    /* width: auto; */
  }
  .navigation__img {
    /* margin-left: 150px;   */
    /* width: 100px; */
    /* height: 10px; */
    position: fixed;
  }
  .navigation__items {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    overflow: hidden;
    width: 70vw;
  }
  .navigation__items li {
    /* background: #ff0; */
    float: left;
    font-size: 16px;
    margin: 0 10px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
  }
  .navigation__items a {
    color: #fff;
    position: relative;
    text-decoration: none;
    display: block;
    text-decoration: none;
  }
  .navigation ul ul{
    display: none;
    position: absolute;
    top: 60px;
  }
  .navigation ul li:hover > ul{
    display: inherit;
  }

  .navigation ul ul li{
    width: 80%;
    float: none;
    display: list-item;
    position: relative;
  }
  
  .navigation div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.navigation div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: 0;
    border: none;
    cursor: pointer;
}

.navigation div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.navigation div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.navigation div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.navigation div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.navigation div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.navigation div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.navigation div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.navigation div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.navigation div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
  .navigation{
      margin: 0;
  }
  
}

@media screen and (max-width:768px) {
    
    .navigation div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }

    div.logo{
      margin-left: 15px;
    }
    
    .navigation div.show_list{
        height: 300px;
    }
    
    .navigation div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .navigation div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:var(--primary);
    }
    
    .navigation div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .navigation div.media_button{
        display: block;
    }
}
  /* @media (max-width: 768px) {
    .navigation__items {
      flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    .navigation__items.active {
      display: flex;
    }
    .navigation__items li {
      margin: 10px 0;
    }
  } */
  :root {
    --primary: #252525;
    --secondary: #9b8df1;
  }

  .footer {
    border-top: 2px solid var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
  }
  .footer__one,
  .footer__three,
  .footer__two {
    flex: 1;
    text-align: center;
  }
  .footer__end {
    display: flex;
    justify-content: center;
  }
  .footer .input {
    background-color: #eee;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    padding: 16px;
    width: 60%;
  }
  .footer .input:focus {
    outline-color: #9b8df1;
  }
  .footer .textarea {
    background-color: #eee;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
    resize: none;
    width: 60%;
  }
  .footer .textarea:focus {
    outline-color: #9b8df1;
  }
  .footer button {
    background-color: #9b8df1;
    border: 0;
    border-radius: 100px;
    color: #fff;
    font-weight: 700;
    padding: 12.5px 30px;
    transition: all 0.5s;
  }
  .footer button:hover {
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.05);
  }
  .footer button:active {
    box-shadow: none;
    transform: scale(0.96);
    transition: all 0.25s;
  }