.section-title{
  margin-left: 2rem;
  color: var(--secondary);
}

.card {
  display: flex; 
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper {
  width: 100%;
  height: 100%; 
  margin-left: auto;
  margin-right: auto;
}

.card__image {
  border: 2px solid #c3c6ce;
  border-radius: 20px;
  height: 254px;
  margin: 2rem;
  overflow: visible;
  padding: 1.8rem;
  position: relative;
  transition: 0.5s ease-out;
  width: 190px;
}

.card__image__details {
  color: white;
  display: grid;
  gap: 0.5em;
  height: 100%;
  place-content: end left;
}

.card__image__details .text__body {
  color: white;
}

.card__image__details .text__title {
  font-size: 1.5em;
  font-weight: 700;
}

.card__image__button {
  background-color: var(--secondary);
  border: none;
  border-radius: 1rem;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  left: 50%;
  opacity: 0;
  padding: 0.5rem 1rem;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transform: translate(-50%, 125%);
  transition: 0.3s ease-out;
  width: 70%;
}
.checksel{
  background-color: var(--secondary);
  border: none;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: 1em;
}

.card__image:hover {
  border-color: #6c00f8;
  box-shadow: 10px 5px 18px 0 hsla(0, 0%, 100%, 0.877);
}

.card__image:hover .card__image__button {
  opacity: 1;
  transform: translate(-50%, 50%);
}

.hero-text {
  text-align: center;
  font-weight: bolder;
  font-size: 2em;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-bottom: 2rem;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.description {
  max-width: 600px;
  text-align: center;
  padding-right: 120px;
}

.hero-content img {
  max-width: 25rem;
  height: auto;
  margin: 10px, 0;
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .description,
  .hero-content img {
    max-width: 50%;
    padding: 0;
  }

  .review__card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 480px) {
  .review__card:nth-child(3),
  .review__card:nth-child(2) {
    display: none;
  }
}

.review {
  display: flex;
  justify-content: space-evenly;
}
.review__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-width: 320px;
  border: solid 1px var(--secodary);
}
.review__card__stars {
  display: flex;
  grid-gap: 0.125rem;
  gap: 0.125rem;
  color: var(--secondary);
}
.stars {
  height: 1.25rem;
  width: 1.25rem;
}
.review__infos {
  margin-top: 1rem;
}
.review__infos__datetime {
  color: var(--primary);
  font-size: 12px;
  font-weight: 600;
}

.review__infos__description {
  margin-top: 0.4rem;
  line-height: 1.625;
  color: var(--primary);
}
.review__author {
  margin-top: 1.3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--secondary);
}

:root {
  --primary: #252525;
  --secondary: #9b8df1;
}
