:root{
  --primary : #252525;
  --secondary : #9B8DF1;
}
.header {
  background-image: url('/app/assets/images/header.png');
  margin: 0;
  height: 670px;
}

.h1{
  margin: 150px;
  text-align: center;
  font-family: 'Lobster Two', sans-serif;
  color: #fff; 
}

area {
  background-color: #252525;
  position: absolute;
  transition: transform 0.2s ease;
}

area:hover {
  transform: scale(1.2);
}

.popular-container{
  display: flex;
}

.card {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 2rem;
}

.card-details {
  color: var(--primary);
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: end left;
}

.card-button {
  text-decoration: none;
  text-align: center;
  -webkit-transform: translate(-50%, 125%);
  -ms-transform: translate(-50%, 125%);
  transform: translate(-50%, 125%);
  width: 70%;
  border-radius: 1rem;
  border: none;
  background-color: var(--secondary);
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.text-body {
  color: var(--primary);
}

.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

.card:hover {
  border-color: #6c00f8;
  -webkit-box-shadow: 10px 5px 18px 0 rgba(255, 255, 255, 0.877);
  box-shadow: 10px 5px 18px 0 rgba(255, 255, 255, 0.877);
}

.card:hover .card-button {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  opacity: 1;
}

.hero-text{
  text-align: center;
  font-weight: bolder;
  font-size: 2em;
}
.hero-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-bottom: 2rem;
}
.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.description {
  max-width: 600px;
  text-align: center;
  padding-right: 120px;
}

.hero-content img {
  max-width: 25rem;
  height: auto;
  margin: 10px, 0;
}
@media (max-width: 768px) {
  .hero-content {
      flex-direction: column;
      text-align: center;
  }

  .description,
  .hero-content img {
      max-width: 50%;
      padding: 0;
  }
  .rev-card:nth-child(3){
    display: none;
  }
}

@media (max-width: 480px){
  .rev-card:nth-child(3),
  .rev-card:nth-child(2){
    display: none;
  }
}
.review{
  display: flex;
  justify-content: space-evenly;
}

.rev-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-width: 320px;
  border: solid 1px var(--secodary);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 1);
}

.stars {
  display: flex;
  grid-gap: 0.125rem;
  gap: 0.125rem;
  color: var(--secondary);
}

.star {
  height: 1.25rem;
  width: 1.25rem;
}

.infos {
  margin-top: 1rem;
}

.date-time {
  color: var(--primary);
  font-size: 12px;
  font-weight: 600;
}

.rev-description {
  margin-top: 0.4rem;
  line-height: 1.625;
  color: var(--primary);
}

.author {
  margin-top: 1.3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--secondary);
}