:root {
    --color-white-0: #fff;
    --color-white-3: #e0e0e0;
    --color-black-0: #000;
    --color-black-3: #555;

    --text-color-default: var(--color-black-3);
    --bg-color-default: var(--color-white-3);
}

.search {
    background-color: var(--bg-color-default);
    color: var(--text-color-default);
    display: flex;
    align-items: center;
    opacity: 80%;
    border-radius: 1.25rem;
    text-decoration: none;
    margin: 2rem auto;

    .search__items {
        display: flex;
        text-decoration: none;
        list-style: none;
        flex-wrap: wrap;

        li {
            margin: 0 .625rem;
            font-size: 1rem;
            text-align: center;
            padding: .875rem 1rem;
            text-decoration: none;
        }
        input {
            width: 100%;
        }

        #sda123 {
            background-color: var(--secondary);
            border: none;
            border-radius: 1rem;
            color: #fff;
            cursor: pointer;
            font-size: 1em;
            padding: 1em;
            margin: 2em;
        }
    }
}

.car {
    display: flex;
    flex-wrap: wrap;
    
    .car__card {
        background-color: var(--bg-color-default);
        color: var(--text-color-default);
        border: 1px solid rgb(228, 225, 222);
        border-radius: 1.25rem;
        margin: 1.875rem auto;
        padding: .625rem;

        h4 {
            text-align: center;
        }
        img {
            width: 260px;
            height: 180px;
        }

        .car__card__container {

            .foot {
                display: flex;
                justify-content: space-between;
                gap: .3125rem;
                .sda{
                    display: flex;
                    flex: 1;
                    flex-direction: column;

                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                        margin: 0 auto;
                    }
    
                    span {
                        text-align: center;
                    }
                }
            }

            .price {
                display: flex;
                flex-direction: column;
                flex-grow: 2;
            }

            .car-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}

.service_main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem 6rem;
}

.container-2{
    flex: 5;
}

#menu-icon {
    cursor: pointer;
    font-size: 24px;
    display: none;
    /* Initially hidden for larger screens */
}
.car_filter {
    display: flex;
    flex-direction: column;
    flex: 1;
    .category {
        display: flex;
        flex-direction: column;
        gap: .3125rem;
        list-style: none;

    }

    #saved{
        margin-top: 3rem;
        padding: 1rem;
        background-color: rgb(228, 225, 222);
        border: .0625rem solid rgb(228, 225, 222);
        border-radius: 1.25rem;

        h3{
            text-align: center;
        }

        .subcontainer{
            height: 10rem;
            border-radius: 1rem;

            li{
                list-style: none;
                padding: 0.25rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .car_filter {
        .category {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            top: 20px;
            left: 110px;
            background-color: #615b5b;
        }

        .category.show {
            margin-top: 800px;
            display: flex;
        }

        #menu-icon {
            display: block;
        }
    }

    #saved {
        padding: 0.5px;

        .subcontainer {
            padding: 1px;
        }
    }
}