body {
  display: flex;
  background-size: cover;
  margin: 50px 50px 50px 50px;
}
section {
  width: auto;
  margin: auto;
  padding: 50px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-sizing: border-box;
}

form {
  margin-bottom: 10px;
}

label {
  display: inline-flexbox;
}

.inputt {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  transition: transform 80ms ease-in;
}
.button:active {
	transform: scale(0.95);
}
.button:focus {
	outline: none;
}

.button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

input:checkbox {
  margin-right: 10px;
}

a {
  color: #009dff;
}
.forget {
  position: absolute;
  padding-left: 50px;
}

.fa {
  display: inline-flex;
  padding-left: 50px;
  font-size: 20px;
}
p {
  text-align: center;
}
