.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    margin: auto;
    margin-top: 140px;
    width: 30%;
    border-radius: 20px;
    text-align: center;

    &__title {
        text-align: start;
        margin: 15px;
        margin-bottom: 0;
        background-color: yellow;
    }

    &__description {
        text-align: start;
        margin: 15px;
        margin-bottom: 0;
        background-color: blanchedalmond;
    }

    &__form {
        margin: 15px;
        text-align: start;
        &__label {
            position: relative;
        }

        &__div {
            align-items: center;
            display: flex;
            flex-direction: row;

            &__forget{
                margin-left: auto;
                text-decoration: none;
            }

            &__button{
                width: 100%;
                border-radius: 1.5rem;
                border: none;
                background-color: blue;
                padding: 0.5rem;
                color: white;
            }
        }
    }

    &__icons{
        display: flex;
        flex-direction: row;
        margin: auto;
        
        a{
            padding: 1rem;
        }
    }
}