.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    width: 30%;
    border-radius: 20px;

    &__title {
        margin: 15px;
        margin-bottom: 0;
        background-color: yellow;
    }

    &__description {
        margin: 15px;
        margin-bottom: 0;
        background-color: blanchedalmond;
    }

    &__form {
        margin: 15px;
        display: flex;

        &__label {
            position: relative;

            .input {
                background-color: #333;
                color: #fff;
                width: 100%;
                padding: 20px 05px 05px 10px;
                outline: 0;
                border: 1px solid rgba(105, 105, 105, 0.397);
                border-radius: 10px;
            }
        }
    }
}
.login__form__div{
    justify-content: space-between;
}