.login {
  background-color: aqua;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 140px auto auto;
  text-align: center;
  width: 30%;
}
.login__title {
  background-color: #ff0;
}
.login__description,
.login__title {
  margin: 15px 15px 0;
  text-align: start;
}
.login__description {
  background-color: #ffebcd;
}
.login__form {
  margin: 15px;
  text-align: start;
}
.login__form__label {
  position: relative;
}
.login__form__div {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.login__form__div__forget {
  margin-left: auto;
  text-decoration: none;
}
.login__form__div__button {
  background-color: blue;
  border: none;
  border-radius: 1.5rem;
  color: #fff;
  padding: 0.5rem;
  width: 100%;
}
.login__icons {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.login__icons a {
  padding: 1rem;
}
